# 忽略data文件夹
/data/
/data/*

# 忽略logs文件夹
/logs/
/logs/*

# Python相关忽略
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE相关文件
.idea/
.vscode/
*.swp
*.swo

# 系统相关文件
.DS_Store
Thumbs.db 

*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.wim
*.iso